<style>
	.an-border-red{
		border: 1px solid #ff0000;
		padding-left: 5px;
		background-color: #ff0000;
	}
	.an-border-green{
		border: 1px solid #00ff00;
		padding-left: 5px;
		background-color: #00ff00;
	}
	.deco-red{
		padding-left: 5px;
		border-bottom: 1px solid #ff0000;
	}
	.deco-green{
		padding-left: 5px;
		border-bottom: 1px solid #00ff00;
	}

</style>
<div class="row-fluid topline">
	<div class="span4">
		<strong>未読のお知らせ</strong>
	</div>
	<div class="hr hide"></div>
	<div class="span8 datapoints">
		<div>
			<div class="datapoint pull-left">
				<span class="an-border-red"></span>
				<span class="deco-red">重要</span><br>
				<h2 id="quota">{{this.alert_count}}件<h2>
			</div>
			<div class="datapoint pull-left">
				<span class="an-border-green"></span>
				<span class="deco-green">その他</span><br>
				<h2 id="likely_case">{{this.unread_count}}件<h2>
			</div>
		</div>
	</div>
</div>