{{!
/*********************************************************************************
 * custom dashlet-notifications handlebars
 ********************************************************************************/
}}

<style>
	.an-border-red{
		border: 1px solid #ff0000;
		padding-left: 5px;
		background-color: #ff0000;
	}
	.an-border-green{
		border: 1px solid #00ff00;
		padding-left: 5px;
		background-color: #00ff00;
	}
	.deco-red{
		font-size: 15px;
		padding-left: 5px;
		border-bottom: 1px solid #ff0000;
	}
	.deco-green{
		font-size: 15px;
		padding-left: 5px;
		border-bottom: 1px solid #00ff00;
	}
	.d_content{
		width: 99%;
	}
	.d_title{
		font-size: 23px;
		text-align: center;
		margin-top: 5px;
	}
	.d_fcontent_left{
		width: 50%;
		float: left;
		text-align: center;
	}
	.d_fcontent_right{
		width: 50%;
		float: right;
		text-align: center;
	}
	.d_data_text{
		font-size: 18px;
		margin-left: 20px;
	}
	.d_url_link{
		width: 99%;
		text-align: center;
	}
	.d_pborder{
		border-bottom: dotted 1px #000066;
		padding-top: 3px;
		margin-bottom: 5px;
	}
</style>

<div class="d_content">
	<div class="d_title">
		<strong>未読のお知らせ</strong>
	</div>
	<div class="d_pborder"></div>
	<div class="d_fcontent">
		<div class="d_fcontent_left">
			<span class="an-border-red"></span>
			<span class="deco-red"><b>重要</b></span><br>
			<span class="d_data_text">{{this.alert_count}}件</span>
		</div>
		<div class="d_fcontent_right">
			<span class="an-border-green"></span>
			<span class="deco-green"><b>その他</b></span><br>
			<span class="d_data_text">{{this.unread_count}}件</span>
		</div>
	</div>
	<br>
	<div class="d_url_link">
		<a href="#Notifications"><strong>通知一覧へ</strong></a>
	</div>
</div>