{{!
/*********************************************************************************
 * ccustom config 
 ********************************************************************************/

}}
<div class="record">
	<div class="row-fluid panel_body">
		<p>ダッシュレットを追加すると、未読の通知件数が表示されます。</p>
	</div>
</div>
